# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
ride_count

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
# 2. Get the total drivers for each city type
urban_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_driver_count = urban_df.groupby(["city"]).mean()["driver_count"].sum()
rural_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_driver_count = rural_df.groupby(["city"]).mean()["driver_count"].sum()
suburban_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
suburban_driver_count = suburban_df.groupby(["city"]).mean()["driver_count"].sum()



driver_count = urban_driver_count + rural_driver_count + suburban_driver_count

In [5]:
urban_driver_count

2405.0

In [6]:
rural_driver_count

78.0

In [7]:
suburban_driver_count

490.0

In [8]:
#  3. Get the total amount of fares for each city type
fare_count = pyber_data_df.groupby(["type"]).sum()["fare"]
fare_count

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [9]:
#  4. Get the average fare per ride for each city type. 
avg_fare_ride = fare_count/ride_count
avg_fare_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [10]:
# 5. Get the average fare per driver for each city type. 

avg_ruralfare_driver = fare_count['Rural']/rural_driver_count
avg_urbanfare_driver = fare_count['Urban']/urban_driver_count
avg_suburbanfare_driver = fare_count['Suburban']/suburban_driver_count

In [11]:
#  6. Create a PyBer summary DataFrame. 
Pyber_summary_df = pd.DataFrame({"Total Rides" : ride_count,
                                "Total Drivers" : 
                                     {"Urban": urban_driver_count, 
                                      "Rural": rural_driver_count, 
                                      "Suburban": suburban_driver_count},
                                "Total Fares" : fare_count,
                                "Average Fare per Ride" : avg_fare_ride,
                                "Average Fare per Driver" : 
                                 {"Urban": avg_urbanfare_driver,
                                  "Rural": avg_ruralfare_driver,
                                  "Suburban": avg_suburbanfare_driver}})
Pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78.0,4327.93,34.623440,55.486282
Suburban,625,490.0,19356.33,30.970128,39.502714
Urban,1625,2405.0,39854.38,24.525772,16.571468

In [12]:
#  7. Cleaning up the DataFrame. Delete the index name
Pyber_summary_df.index.name = None

In [13]:
#  8. Format the columns.
Pyber_summary_df["Total Rides"] = Pyber_summary_df["Total Rides"].map("{:,.0f}".format)

Pyber_summary_df["Total Drivers"] = Pyber_summary_df["Total Drivers"].map("{:,.0f}".format)

Pyber_summary_df["Total Fares"] = Pyber_summary_df["Total Fares"].map("${:,.2f}".format)

Pyber_summary_df["Average Fare per Ride"] = Pyber_summary_df["Average Fare per Ride"].map("${:,.2f}".format)

Pyber_summary_df["Average Fare per Driver"] = Pyber_summary_df["Average Fare per Driver"].map("${:,.2f}".format)

In [14]:
Pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [15]:
# 1. Read the merged DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [16]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
type_date_df = pyber_data_df.groupby([("date"),("type")]).sum()["fare"]
type_date_df

date                 type
2019-01-01 00:08:16  Urban       37.91
2019-01-01 00:46:46  Suburban    47.74
2019-01-01 02:07:24  Suburban    24.07
2019-01-01 03:46:50  Urban        7.57
2019-01-01 05:23:21  Urban       10.75
                                 ...
2019-05-08 04:20:00  Urban       21.99
2019-05-08 04:39:49  Urban       18.45
2019-05-08 07:29:01  Urban       18.55
2019-05-08 11:38:35  Urban       19.77
2019-05-08 13:10:18  Urban       18.04
Name: fare, Length: 2375, dtype: float64

In [17]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
type_date_reset_df = pyber_data_df.reset_index()

In [18]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
table_pivot=type_date_reset_df.pivot(index="date", columns='type', values="fare")
table_pivot

type                 Rural  Suburban  Urban
date
2019-01-01 00:08:16    NaN       NaN  37.91
2019-01-01 00:46:46    NaN     47.74    NaN
2019-01-01 02:07:24    NaN     24.07    NaN
2019-01-01 03:46:50    NaN       NaN   7.57
2019-01-01 05:23:21    NaN       NaN  10.75
...                    ...       ...    ...
2019-05-08 04:20:00    NaN       NaN  21.99
2019-05-08 04:39:49    NaN       NaN  18.45
2019-05-08 07:29:01    NaN       NaN  18.55
2019-05-08 11:38:35    NaN       NaN  19.77
2019-05-08 13:10:18    NaN       NaN  18.04

[2375 rows x 3 columns]

In [43]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
date_range_df = (type_date_reset_df["date"]<= '2019-04-29') & (type_date_reset_df["date"]>= '2019-01-01')
new_date_pivot = type_date_reset_df.loc[date_range_df]

new_date_df = pd.DataFrame({'Date': type_date_reset_df.loc[date_range_df],
                'Type': type_date_reset_df["type"], 
                'Fare': type_date_reset_df["fare"] 
                          })

ValueError: Shape of passed values is (7, 3), indices imply (2375, 3)

In [35]:
new_date_pivot

,index,city,date,fare,ride_id,driver_count,type
0,0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...,...
2367,2367,Michaelberg,2019-01-27 18:43:05,38.42,862622008020,6,Rural
2369,2369,Bradshawfurt,2019-01-30 10:55:23,51.39,1328274868072,7,Rural
2371,2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2374,2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

In [26]:
new_date_df

                     Date   Type   Fare
0     2019-01-14 10:14:22  Urban  13.83
1     2019-03-04 18:24:09  Urban  30.24
2     2019-02-24 04:29:00  Urban  33.44
3     2019-02-10 23:22:03  Urban  23.44
4     2019-03-06 04:28:35  Urban  34.58
...                   ...    ...    ...
2370                  NaN  Rural  13.38
2371  2019-01-30 00:05:47  Rural  20.76
2372  2019-02-10 21:03:50  Rural  11.11
2373                  NaN  Rural  44.94
2374  2019-04-25 10:20:13  Rural  55.84

[2375 rows x 3 columns]

In [37]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
new_date_pivot.date = pd.to_datetime(new_date_pivot.date)

/Users/pallaviojha/opt/anaconda3/envs/PythonDataBootcamp/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [38]:
new_date_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2375 entries, 0 to 2374
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2196 non-null   datetime64[ns]
 1   Type    2375 non-null   object
 2   Fare    2375 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 74.2+ KB

In [23]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
new_date_df = new_date_df.resample("w").sum()
new_date_df

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'

In [ ]:
# 9. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')